<h4 class="mb-3">Billing address</h4>
<form [formGroup]="form" class="needs-validation" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="firstName">Name</label>
            <input formControlName="name" type="text" class="form-control" id="firstName" placeholder="" value=""
                required>
            <div class="invalid-feedback">
                Valid first name is required.
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="email">Email <span class="text-muted">(Optional)</span></label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="you@example.com">
        <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
        </div>
    </div>

    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
</form>